/**
 * Code généré par: Tables Generator. (s. d.). HTML Tables Generator [générateur de code].
 * https://www.tablesgenerator.com/html_table
 */
.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;

    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-096r{text-align:left;
    vertical-align:top
}
.tg .tg-d3nm{border-color:inherit;
    color:#c00000;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}
.tg .tg-0pky{border-color:inherit;
    text-align:left;
    vertical-align:top
}
.tg .tg-fymr{border-color:inherit;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}
.tg .tg-0lax{text-align:left;
    vertical-align:top
}
.tg .tg-21f3{border-color:inherit;
    color:#000000;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
/* Fin du code  */